services/node-red/flows.json
[{"id":"6e336c2d.841474","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dcd3313f.ac9ce","type":"mongodb3","uri":"mongodb://mongo","name":"","options":"","parallelism":"-1"},{"id":"1db62708.35ddb9","type":"mongodb3 in","z":"6e336c2d.841474","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"","collection":"","operation":"insert","x":1350,"y":220,"wires":[["6d0ff93b.4c6898"]]},{"id":"9825122a.e55ae","type":"http in","z":"6e336c2d.841474","name":"","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":880,"y":220,"wires":[["3a54b512.ea4b4a"]]},{"id":"6d0ff93b.4c6898","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":1590,"y":220,"wires":[]},{"id":"15ea1cab.664653","type":"http in","z":"6e336c2d.841474","name":"","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":700,"y":300,"wires":[["3d089981.ee2dd6"]]},{"id":"3d089981.ee2dd6","type":"change","z":"6e336c2d.841474","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["1fbe9946.a70e47"]]},{"id":"1fbe9946.a70e47","type":"change","z":"6e336c2d.841474","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":300,"wires":[["2b9d2285.5e8d3e"]]},{"id":"2b9d2285.5e8d3e","type":"mongodb3 in","z":"6e336c2d.841474","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"","collection":"","operation":"find.toArray","x":1330,"y":300,"wires":[["e25a66ac.5170b8"]]},{"id":"e25a66ac.5170b8","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":1590,"y":300,"wires":[]},{"id":"bf227bf3.afeb58","type":"comment","z":"6e336c2d.841474","name":"README","info":"Name of mongo connection should be same name as the one of the container in which mongo is running","x":1300,"y":180,"wires":[]},{"id":"3a54b512.ea4b4a","type":"change","z":"6e336c2d.841474","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":220,"wires":[["1db62708.35ddb9"]]},{"id":"58d7b9bd.b068c8","type":"http in","z":"6e336c2d.841474","name":"","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":690,"y":380,"wires":[["b0badf14.dd2c2"]]},{"id":"b0badf14.dd2c2","type":"change","z":"6e336c2d.841474","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":380,"wires":[["c7e9f65f.41dfd8"]]},{"id":"c7e9f65f.41dfd8","type":"change","z":"6e336c2d.841474","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"key1\":\"key1\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["b2124f8a.d0a86","77a78367.1cb58c"]]},{"id":"b2124f8a.d0a86","type":"mongodb3 in","z":"6e336c2d.841474","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"","collection":"","operation":"findOne","x":1320,"y":380,"wires":[["4c577274.0d8b6c"]]},{"id":"4c577274.0d8b6c","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":1570,"y":380,"wires":[]},{"id":"77a78367.1cb58c","type":"debug","z":"6e336c2d.841474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":460,"wires":[]}]