services/node-red/flows.json
[{"id":"6e336c2d.841474","type":"tab","label":"API","disabled":false,"info":""},{"id":"2e789698.9e67ca","type":"tab","label":"MONGO","disabled":false,"info":""},{"id":"9b383b8.bfdc4c8","type":"subflow","name":"DB Read","info":"","category":"storage","in":[{"x":140,"y":160,"wires":[{"id":"47e379db.dc2028"}]}],"out":[{"x":760,"y":160,"wires":[{"id":"1ecd9c25.b07eb4","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{"version":"1.0.0","author":"gerard.domenech.cobos@gmail.com"},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"2d6b3583.c330fa","type":"subflow","name":"DB Read One","info":"","category":"storage","in":[{"x":60,"y":100,"wires":[{"id":"8d91ca76.b05bc8"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"e0123c23.3bb0c","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"fafc4dd9.b4277","type":"subflow","name":"DB Create","info":"","category":"storage","in":[{"x":220,"y":140,"wires":[{"id":"b81478b2.fe9f98"}]}],"out":[{"x":760,"y":140,"wires":[{"id":"eb14f306.d10f6","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"60cd392.f539cc8","type":"subflow","name":"_id generator","info":"This flow it is used to generate an _id for mongo and saved as string instead of autogenerated ObjectId() by mongo.","category":"utilities","in":[{"x":240,"y":260,"wires":[{"id":"43eb1905.976528"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"6dbd0922.0700c8","port":0}]}],"env":[],"meta":{},"color":"#E6E0F8","icon":"node-red-contrib-uuid/uuid.png"},{"id":"9bcf9c42.6b7f4","type":"group","z":"2e789698.9e67ca","name":"Create","style":{"label":true,"label-position":"n"},"nodes":["d09d0fd.c79d7f","1a8d9f25.c72f51","9418fd07.a5593","bac37c57.60c34","26df328a.67524e","ee436353.0d0a9","1cc2621.221dd9e"],"x":234,"y":99,"w":1272,"h":122},{"id":"d00bbcba.a7973","type":"group","z":"2e789698.9e67ca","name":"List","style":{"label":true,"label-position":"n"},"nodes":["88890f05.795eb","c71bf45b.999b38","65b4ba48.b07ba4"],"x":234,"y":359,"w":1272,"h":82},{"id":"18a68b27.fc22a5","type":"group","z":"2e789698.9e67ca","name":"Read One","style":{"label":true,"label-position":"n"},"nodes":["2cd6cb62.68c0a4","6222d58d.9864ec","7e22a634.121a68"],"x":234,"y":239,"w":1272,"h":82},{"id":"dcd3313f.ac9ce","type":"mongodb3","uri":"mongodb://mongo","name":"","options":"","parallelism":"-1"},{"id":"9825122a.e55ae","type":"http in","z":"6e336c2d.841474","name":"POST /api/activity","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":270,"y":240,"wires":[["2ba48022.5c138"]]},{"id":"6d0ff93b.4c6898","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":930,"y":240,"wires":[]},{"id":"e25a66ac.5170b8","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":930,"y":300,"wires":[]},{"id":"58d7b9bd.b068c8","type":"http in","z":"6e336c2d.841474","name":"GET/api/activity/:id","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":270,"y":360,"wires":[["3c234e6f.da2c42"]]},{"id":"4c577274.0d8b6c","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":930,"y":360,"wires":[]},{"id":"47e379db.dc2028","type":"change","z":"9b383b8.bfdc4c8","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["1ecd9c25.b07eb4"]]},{"id":"f91eb7d3.e8d948","type":"subflow:9b383b8.bfdc4c8","z":"6e336c2d.841474","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":720,"y":300,"wires":[["e25a66ac.5170b8"]]},{"id":"8d91ca76.b05bc8","type":"change","z":"2d6b3583.c330fa","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["e0123c23.3bb0c"]]},{"id":"b9b02dfa.c65e7","type":"subflow:2d6b3583.c330fa","z":"6e336c2d.841474","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":720,"y":360,"wires":[["4c577274.0d8b6c"]]},{"id":"3c234e6f.da2c42","type":"change","z":"6e336c2d.841474","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\": msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["b9b02dfa.c65e7"]]},{"id":"d09d0fd.c79d7f","type":"mongodb3 in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase InsertOne","collection":"","operation":"insertOne","x":940,"y":140,"wires":[["9418fd07.a5593"]]},{"id":"1a8d9f25.c72f51","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Save payload","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["ee436353.0d0a9"]]},{"id":"9418fd07.a5593","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Set _id from mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$merge(\t   [\t       _payload,\t       {\"_id\":payload.insertedId}\t   ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":140,"wires":[["26df328a.67524e"]]},{"id":"bac37c57.60c34","type":"actionflows_in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","priority":"50","links":[],"scope":"global","x":340,"y":140,"wires":[["1a8d9f25.c72f51"]]},{"id":"26df328a.67524e","type":"actionflows_out","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","links":[],"x":1400,"y":140,"wires":[]},{"id":"2cd6cb62.68c0a4","type":"actionflows_in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","priority":"50","links":[],"scope":"global","x":350,"y":280,"wires":[["7e22a634.121a68"]]},{"id":"88890f05.795eb","type":"actionflows_in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","priority":"50","links":[],"scope":"global","x":340,"y":400,"wires":[["65b4ba48.b07ba4"]]},{"id":"6222d58d.9864ec","type":"actionflows_out","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","links":[],"x":1390,"y":280,"wires":[]},{"id":"c71bf45b.999b38","type":"actionflows_out","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","links":[],"x":1400,"y":400,"wires":[]},{"id":"b81478b2.fe9f98","type":"change","z":"fafc4dd9.b4277","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["eb14f306.d10f6"]]},{"id":"65b4ba48.b07ba4","type":"mongodb3 in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"find.toArray","x":950,"y":400,"wires":[["c71bf45b.999b38"]]},{"id":"7e22a634.121a68","type":"mongodb3 in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"findOne","x":950,"y":280,"wires":[["6222d58d.9864ec"]]},{"id":"2ba48022.5c138","type":"subflow:fafc4dd9.b4277","z":"6e336c2d.841474","name":"","env":[{"name":"collection","value":"test","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":720,"y":240,"wires":[["6d0ff93b.4c6898"]]},{"id":"1ecd9c25.b07eb4","type":"actionflows","z":"9b383b8.bfdc4c8","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.read","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":560,"y":160,"wires":[[]]},{"id":"e0123c23.3bb0c","type":"actionflows","z":"2d6b3583.c330fa","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.readOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":550,"y":100,"wires":[[]]},{"id":"e0296914.4c7548","type":"change","z":"6e336c2d.841474","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["f91eb7d3.e8d948"]]},{"id":"87f552ce.2a057","type":"http in","z":"6e336c2d.841474","name":"GET /api/activity","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":260,"y":300,"wires":[["e0296914.4c7548"]]},{"id":"eb14f306.d10f6","type":"actionflows","z":"fafc4dd9.b4277","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.create","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":580,"y":140,"wires":[[]]},{"id":"4f11e36d.6a306c","type":"comment","z":"2e789698.9e67ca","name":"README","info":"# **CONNECTION**\nName of mongo connection should be same name as the one of the container in which mongo is running. In this case the container where mongo is running is named `mongo`. (By default the name of the db is mongo. The port specification is no needed).\n\n# **MESSAGES**\n**msg.payload** contains the search query\n**msg.operation** can have the operation to perform by mongodb3. In case action is set as dynamic (msg.operation).\n**msg.collection** contains the collection that belongs to the attached db in wich action is performed.","x":500,"y":40,"wires":[],"icon":"node-red/alert.svg"},{"id":"ee436353.0d0a9","type":"switch","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"has _id?","property":"payload._id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":140,"wires":[["d09d0fd.c79d7f"],["1cc2621.221dd9e"]]},{"id":"43eb1905.976528","type":"uuid","z":"60cd392.f539cc8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":390,"y":260,"wires":[["beec3064.969b9"]]},{"id":"beec3064.969b9","type":"string","z":"60cd392.f539cc8","name":"addapt _id","methods":[{"name":"replaceAll","params":[{"type":"str","value":"-"},{"type":"str","value":""}]}],"prop":"uuid","propout":"uuid","object":"msg","objectout":"msg","x":530,"y":260,"wires":[["6dbd0922.0700c8"]],"info":"Replace all \"-\" to get number."},{"id":"6dbd0922.0700c8","type":"function","z":"60cd392.f539cc8","name":"create Object","func":"msg.payload = {\n    ... msg.payload,\n    _id : msg.uuid.toString(),\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[[]]},{"id":"1cc2621.221dd9e","type":"subflow:60cd392.f539cc8","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"","env":[],"x":710,"y":180,"wires":[["d09d0fd.c79d7f"]]},{"id":"98067a44.84a258","type":"http in","z":"6e336c2d.841474","name":"POST /api/activity/:id","url":"/api/activity/:id","method":"post","upload":false,"swaggerDoc":"","x":270,"y":420,"wires":[["d50d9ca7.968cb"]]},{"id":"4d47a148.3405c","type":"http response","z":"6e336c2d.841474","name":"","statusCode":"","headers":{},"x":990,"y":420,"wires":[]},{"id":"abb0a9b1.1a7658","type":"actionflows_in","z":"2e789698.9e67ca","name":"Database.updateOne","priority":"50","links":[],"scope":"global","x":360,"y":500,"wires":[["e0d54c6e.89a2c"]]},{"id":"e0d54c6e.89a2c","type":"mongodb3 in","z":"2e789698.9e67ca","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"updateOne","x":710,"y":500,"wires":[["b237d9b.bf92228"]]},{"id":"b237d9b.bf92228","type":"actionflows_out","z":"2e789698.9e67ca","name":"Database.updateOne","links":[],"x":1000,"y":500,"wires":[]},{"id":"e7828663.7c4d38","type":"mongodb3 in","z":"6e336c2d.841474","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"test","operation":"updateOne","x":830,"y":420,"wires":[["4d47a148.3405c"]]},{"id":"d50d9ca7.968cb","type":"function","z":"6e336c2d.841474","name":"Object update","func":"msg.payload = {\n    ... msg.payload,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["fd9e5a18.966368"]]},{"id":"fd9e5a18.966368","type":"change","z":"6e336c2d.841474","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":msg.req.params.id},\t    {\"$set\": msg.payload},\t    {\"upsert\": false, \"returnOriginal\": false} \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["e7828663.7c4d38"]]}]