services/node-red/flows.json
[{"id":"6e336c2d.841474","type":"tab","label":"API","disabled":false,"info":""},{"id":"2e789698.9e67ca","type":"tab","label":"MONGO","disabled":false,"info":""},{"id":"c494b22b.fc766","type":"tab","label":"Auth","disabled":false,"info":""},{"id":"1094a968.b9e307","type":"tab","label":"JWT","disabled":false,"info":""},{"id":"9b383b8.bfdc4c8","type":"subflow","name":"DB Read","info":"","category":"storage","in":[{"x":140,"y":160,"wires":[{"id":"47e379db.dc2028"}]}],"out":[{"x":760,"y":160,"wires":[{"id":"1ecd9c25.b07eb4","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{"version":"1.0.0","author":"gerard.domenech.cobos@gmail.com"},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"2d6b3583.c330fa","type":"subflow","name":"DB Read One","info":"","category":"storage","in":[{"x":60,"y":100,"wires":[{"id":"8d91ca76.b05bc8"}]}],"out":[{"x":1080,"y":100,"wires":[{"id":"abd717bf.82f978","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"fafc4dd9.b4277","type":"subflow","name":"DB Create","info":"","category":"storage","in":[{"x":220,"y":140,"wires":[{"id":"b81478b2.fe9f98"}]}],"out":[{"x":760,"y":140,"wires":[{"id":"eb14f306.d10f6","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"60cd392.f539cc8","type":"subflow","name":"_id generator","info":"This flow it is used to generate an _id for mongo and saved as string instead of autogenerated ObjectId() by mongo.","category":"utilities","in":[{"x":240,"y":260,"wires":[{"id":"43eb1905.976528"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"6dbd0922.0700c8","port":0}]}],"env":[],"meta":{},"color":"#E6E0F8","icon":"node-red-contrib-uuid/uuid.png"},{"id":"46ba51c4.464e1","type":"subflow","name":"DB Update One","info":"","category":"storage","in":[{"x":240,"y":200,"wires":[{"id":"6359669f.30c598"}]}],"out":[{"x":1240,"y":200,"wires":[{"id":"9f2c5828.04ae88","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"74646230.6d275c","type":"subflow","name":"DB Delete One","info":"","category":"storage","in":[{"x":200,"y":180,"wires":[{"id":"1d34d80.dc29b28"}]}],"out":[{"x":1120,"y":180,"wires":[{"id":"d098d037.f3746","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"9ad836ff.2f7b08","type":"subflow","name":"Throw","info":"","category":"utilities","in":[{"x":280,"y":80,"wires":[{"id":"b4d49367.3d438"}]}],"out":[],"env":[],"meta":{},"color":"#FDD0A2","icon":"font-awesome/fa-bug"},{"id":"9bcf9c42.6b7f4","type":"group","z":"2e789698.9e67ca","name":"Create One","style":{"label":true,"label-position":"n"},"nodes":["d09d0fd.c79d7f","1a8d9f25.c72f51","9418fd07.a5593","bac37c57.60c34","26df328a.67524e","ee436353.0d0a9","1cc2621.221dd9e"],"x":254,"y":399,"w":1412,"h":102},{"id":"d00bbcba.a7973","type":"group","z":"2e789698.9e67ca","name":"List","style":{"label":true,"label-position":"n"},"nodes":["88890f05.795eb","c71bf45b.999b38","65b4ba48.b07ba4","708d001b.2fdf4"],"x":254,"y":199,"w":1272,"h":82},{"id":"18a68b27.fc22a5","type":"group","z":"2e789698.9e67ca","name":"Read One","style":{"label":true,"label-position":"n"},"nodes":["2cd6cb62.68c0a4","6222d58d.9864ec","7e22a634.121a68"],"x":254,"y":299,"w":1272,"h":82},{"id":"4911462d.584ca8","type":"group","z":"2e789698.9e67ca","name":"Update One","style":{"label":true,"label-position":"n"},"nodes":["abb0a9b1.1a7658","b237d9b.bf92228","d7fe2e0b.8278d"],"x":254,"y":519,"w":1272,"h":82},{"id":"2825a481.5b338c","type":"group","z":"2e789698.9e67ca","name":"Delete One","style":{"label":true,"label-position":"n"},"nodes":["563a4094.9c72","9f5a8fff.7bcdd","3751a88d.881358"],"x":254,"y":619,"w":1272,"h":82},{"id":"aa9de1ad.37ff1","type":"group","z":"6e336c2d.841474","name":"CRUD API EXAMPLE","style":{"stroke":"#a4a4a4","stroke-opacity":"0.98","label":true},"nodes":["9825122a.e55ae","6d0ff93b.4c6898","2ba48022.5c138","98067a44.84a258","4d47a148.3405c","fd9e5a18.966368","ad8c48fe.94f028","ed668080.0dde8","15e6588.1ab6da8","fa66d2bc.87236","5994e1cf.d0f22","95937519.afc488","e2388709.c898b8","e25a66ac.5170b8","58d7b9bd.b068c8","4c577274.0d8b6c","f91eb7d3.e8d948","b9b02dfa.c65e7","3c234e6f.da2c42","e0296914.4c7548","87f552ce.2a057","88553926.8f18f8"],"x":54,"y":59,"w":852,"h":402},{"id":"dabcff4d.63979","type":"group","z":"6e336c2d.841474","name":"Activities API","style":{"stroke":"#a4a4a4","stroke-opacity":"0.6","label":true},"nodes":["55631391.60777c","47dc8790.be7cd8","e0d09fe4.fd34b","ebbcc499.7561d8","e951f7c4.920068","7ff06efa.bac96","8445f626.4402a8","d67aaa5b.c82448","466c9e29.616a5","747411c9.50673","1e66ae59.de0aa2","982e6de4.e1a08","370d3d63.546e72","f1703cbc.b507","c6f21401.57fb98","7f9ef6d0.1c13b8","46c36a98.fd6034","b6d85f1f.54e78","2b5be1b7.55fc3e","1001671b.f52d89","e5840dbd.d7a96","4ab9477f.2df4f8"],"x":54,"y":499,"w":852,"h":402},{"id":"dc639f56.b6af1","type":"group","z":"c494b22b.fc766","name":"Auth API","style":{"stroke":"#a4a4a4","stroke-opacity":"0.6","label":true},"nodes":["a0e41cca.67d84","13c594df.708cbb","a328f420.6f2248","fe3d029d.a2377","a47ba5f3.388048","70a4a056.53afc","4e7ad935.fcf2e8","4f5ca6e3.b62548","1ffdc83e.977108","604d6a62.780c64","5073cc60.362fb4","a6d94573.f9dab8","b3f0a6da.2f6288","f1e506c2.da4b98","6df5db24.afcfa4","f6873949.8c3ee8","1818a7ee.4c2408","7eae17be.86dd08","c3317896.0695d8","de4728ce.9912e8","43660b38.d5f024","886c3e26.d178d","61d1b589.86d57c"],"x":98,"y":59,"w":1688,"h":428},{"id":"c3317896.0695d8","type":"group","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"Create index","style":{"label":true},"nodes":["e9edaa0f.1760f8","7355e595.4397ac","4ae1d43e.4bbffc"],"x":124,"y":379,"w":722,"h":82},{"id":"dcd3313f.ac9ce","type":"mongodb3","uri":"mongodb://db","name":"","options":"","parallelism":"-1"},{"id":"9825122a.e55ae","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"POST /api/activity","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["2ba48022.5c138"]]},{"id":"6d0ff93b.4c6898","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":240,"wires":[]},{"id":"47e379db.dc2028","type":"change","z":"9b383b8.bfdc4c8","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["1ecd9c25.b07eb4"]]},{"id":"8d91ca76.b05bc8","type":"change","z":"2d6b3583.c330fa","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["e0123c23.3bb0c"]]},{"id":"d09d0fd.c79d7f","type":"mongodb3 in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase InsertOne","collection":"","operation":"insertOne","x":1140,"y":440,"wires":[["9418fd07.a5593"]]},{"id":"1a8d9f25.c72f51","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Save payload","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":440,"wires":[["ee436353.0d0a9"]]},{"id":"9418fd07.a5593","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Set _id from mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$merge(\t   [\t       _payload,\t       {\"_id\":payload.insertedId}\t   ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":440,"wires":[["26df328a.67524e"]]},{"id":"bac37c57.60c34","type":"actionflows_in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","priority":"50","links":[],"scope":"global","x":360,"y":440,"wires":[["1a8d9f25.c72f51"]]},{"id":"26df328a.67524e","type":"actionflows_out","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","links":[],"x":1560,"y":440,"wires":[]},{"id":"2cd6cb62.68c0a4","type":"actionflows_in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","priority":"50","links":[],"scope":"global","x":370,"y":340,"wires":[["7e22a634.121a68"]]},{"id":"88890f05.795eb","type":"actionflows_in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","priority":"50","links":[],"scope":"global","x":360,"y":240,"wires":[["65b4ba48.b07ba4"]]},{"id":"6222d58d.9864ec","type":"actionflows_out","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","links":[],"x":1410,"y":340,"wires":[]},{"id":"c71bf45b.999b38","type":"actionflows_out","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","links":[],"x":1420,"y":240,"wires":[]},{"id":"b81478b2.fe9f98","type":"change","z":"fafc4dd9.b4277","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["eb14f306.d10f6"]]},{"id":"65b4ba48.b07ba4","type":"mongodb3 in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"find.toArray","x":850,"y":240,"wires":[["708d001b.2fdf4"]]},{"id":"7e22a634.121a68","type":"mongodb3 in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"findOne","x":970,"y":340,"wires":[["6222d58d.9864ec"]]},{"id":"2ba48022.5c138","type":"subflow:fafc4dd9.b4277","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":620,"y":240,"wires":[["6d0ff93b.4c6898"]]},{"id":"1ecd9c25.b07eb4","type":"actionflows","z":"9b383b8.bfdc4c8","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.read","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":560,"y":160,"wires":[[]]},{"id":"e0123c23.3bb0c","type":"actionflows","z":"2d6b3583.c330fa","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.readOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":510,"y":100,"wires":[["abd717bf.82f978"]]},{"id":"eb14f306.d10f6","type":"actionflows","z":"fafc4dd9.b4277","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.create","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":580,"y":140,"wires":[[]]},{"id":"4f11e36d.6a306c","type":"comment","z":"2e789698.9e67ca","name":"README","info":"# **CONNECTION**\nName of mongo connection should be same name as the one of the container in which mongo is running. In this case the container where mongo is running is named `mongo`. (By default the name of the db is mongo. The port specification is no needed).\n\n# **MESSAGES**\n**msg.payload** contains the search query\n**msg.operation** can have the operation to perform by mongodb3. In case action is set as dynamic (msg.operation).\n**msg.collection** contains the collection that belongs to the attached db in wich action is performed.","x":960,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"ee436353.0d0a9","type":"switch","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"has _id?","property":"payload._id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":440,"wires":[["d09d0fd.c79d7f"],["1cc2621.221dd9e"]]},{"id":"43eb1905.976528","type":"uuid","z":"60cd392.f539cc8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":390,"y":260,"wires":[["beec3064.969b9"]]},{"id":"beec3064.969b9","type":"string","z":"60cd392.f539cc8","name":"addapt _id","methods":[{"name":"replaceAll","params":[{"type":"str","value":"-"},{"type":"str","value":""}]}],"prop":"uuid","propout":"uuid","object":"msg","objectout":"msg","x":530,"y":260,"wires":[["6dbd0922.0700c8"]],"info":"Replace all \"-\" to get number."},{"id":"6dbd0922.0700c8","type":"function","z":"60cd392.f539cc8","name":"create Object","func":"msg.payload = {\n    ... msg.payload,\n    _id : msg.uuid.toString(),\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[[]]},{"id":"1cc2621.221dd9e","type":"subflow:60cd392.f539cc8","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"","env":[],"x":890,"y":460,"wires":[["d09d0fd.c79d7f"]]},{"id":"98067a44.84a258","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"POST /api/activity/:id","url":"/api/activity/:id","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["fd9e5a18.966368"]]},{"id":"4d47a148.3405c","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":300,"wires":[]},{"id":"abb0a9b1.1a7658","type":"actionflows_in","z":"2e789698.9e67ca","g":"4911462d.584ca8","name":"Database.updateOne","priority":"50","links":[],"scope":"global","x":380,"y":560,"wires":[["d7fe2e0b.8278d"]]},{"id":"b237d9b.bf92228","type":"actionflows_out","z":"2e789698.9e67ca","g":"4911462d.584ca8","name":"Database.updateOne","links":[],"x":1400,"y":560,"wires":[]},{"id":"fd9e5a18.966368","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":msg.req.params.id},\t    {\"$set\": msg.payload},\t    {\"upsert\": false, \"returnOriginal\": false} \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["ad8c48fe.94f028"]]},{"id":"d7fe2e0b.8278d","type":"mongodb3 in","z":"2e789698.9e67ca","g":"4911462d.584ca8","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"updateOne","x":970,"y":560,"wires":[["b237d9b.bf92228"]]},{"id":"6359669f.30c598","type":"change","z":"46ba51c4.464e1","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["2671b755.c425e8"]]},{"id":"2671b755.c425e8","type":"actionflows","z":"46ba51c4.464e1","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.updateOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":680,"y":200,"wires":[["9f2c5828.04ae88"]]},{"id":"ad8c48fe.94f028","type":"subflow:46ba51c4.464e1","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":300,"wires":[["4d47a148.3405c"]]},{"id":"ed668080.0dde8","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET /api/activity/:id/delete","url":"/api/activity/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":190,"y":380,"wires":[["15e6588.1ab6da8"]]},{"id":"15e6588.1ab6da8","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\":msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["5994e1cf.d0f22"]]},{"id":"fa66d2bc.87236","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"9f5a8fff.7bcdd","type":"mongodb3 in","z":"2e789698.9e67ca","g":"2825a481.5b338c","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"deleteOne","x":970,"y":660,"wires":[["3751a88d.881358"]]},{"id":"563a4094.9c72","type":"actionflows_in","z":"2e789698.9e67ca","g":"2825a481.5b338c","name":"Database.deleteOne","priority":"50","links":[],"scope":"global","x":370,"y":660,"wires":[["9f5a8fff.7bcdd"]]},{"id":"3751a88d.881358","type":"actionflows_out","z":"2e789698.9e67ca","g":"2825a481.5b338c","name":"Database.deleteOne","links":[],"x":1400,"y":660,"wires":[]},{"id":"3e2ee040.93f99","type":"actionflows","z":"74646230.6d275c","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.deleteOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":540,"y":180,"wires":[["d098d037.f3746"]]},{"id":"1d34d80.dc29b28","type":"change","z":"74646230.6d275c","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["3e2ee040.93f99"]]},{"id":"5994e1cf.d0f22","type":"subflow:74646230.6d275c","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":380,"wires":[["fa66d2bc.87236"]]},{"id":"d098d037.f3746","type":"switch","z":"74646230.6d275c","name":"","property":"payload.deletedCount","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":180,"wires":[["e846fdb8.235b3"],[]]},{"id":"e846fdb8.235b3","type":"change","z":"74646230.6d275c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Deleted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[["cd4a4254.dc5cc"]]},{"id":"b4d49367.3d438","type":"function","z":"9ad836ff.2f7b08","name":"","func":"throw msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]],"icon":"font-awesome/fa-bug"},{"id":"cd4a4254.dc5cc","type":"subflow:9ad836ff.2f7b08","z":"74646230.6d275c","name":"","env":[],"x":1070,"y":120,"wires":[]},{"id":"9f2c5828.04ae88","type":"switch","z":"46ba51c4.464e1","name":"","property":"payload.modifiedCount","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":200,"wires":[["8ae789c2.b21538"],[]]},{"id":"8ae789c2.b21538","type":"change","z":"46ba51c4.464e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Modified","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["752f084a.f83308"]]},{"id":"752f084a.f83308","type":"subflow:9ad836ff.2f7b08","z":"46ba51c4.464e1","name":"","env":[],"x":1230,"y":140,"wires":[]},{"id":"95937519.afc488","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["ad8c48fe.94f028"],"uncaught":false,"x":590,"y":340,"wires":[["4d47a148.3405c"]]},{"id":"e2388709.c898b8","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["5994e1cf.d0f22"],"uncaught":false,"x":590,"y":420,"wires":[["fa66d2bc.87236"]]},{"id":"449cf475.3e511c","type":"subflow:9ad836ff.2f7b08","z":"2d6b3583.c330fa","name":"","env":[],"x":1050,"y":40,"wires":[]},{"id":"fe79ec7c.cd20a","type":"change","z":"2d6b3583.c330fa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":40,"wires":[["449cf475.3e511c"]]},{"id":"abd717bf.82f978","type":"switch","z":"2d6b3583.c330fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":100,"wires":[["fe79ec7c.cd20a"],[]]},{"id":"e25a66ac.5170b8","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":100,"wires":[]},{"id":"58d7b9bd.b068c8","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET/api/activity/:id","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["3c234e6f.da2c42"]]},{"id":"4c577274.0d8b6c","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":160,"wires":[]},{"id":"f91eb7d3.e8d948","type":"subflow:9b383b8.bfdc4c8","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":100,"wires":[["e25a66ac.5170b8"]]},{"id":"b9b02dfa.c65e7","type":"subflow:2d6b3583.c330fa","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":160,"wires":[["4c577274.0d8b6c"]]},{"id":"3c234e6f.da2c42","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\": msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["b9b02dfa.c65e7"]]},{"id":"e0296914.4c7548","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["f91eb7d3.e8d948"]]},{"id":"87f552ce.2a057","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET /api/activity","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["e0296914.4c7548"]]},{"id":"88553926.8f18f8","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["b9b02dfa.c65e7"],"uncaught":false,"x":590,"y":200,"wires":[["4c577274.0d8b6c"]]},{"id":"55631391.60777c","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"POST /api/activity","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":170,"y":680,"wires":[["e0d09fe4.fd34b"]]},{"id":"47dc8790.be7cd8","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":830,"y":680,"wires":[]},{"id":"e0d09fe4.fd34b","type":"subflow:fafc4dd9.b4277","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":620,"y":680,"wires":[["47dc8790.be7cd8"]]},{"id":"ebbcc499.7561d8","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"POST /api/activity/:id","url":"/api/activity/:id","method":"post","upload":false,"swaggerDoc":"","x":170,"y":740,"wires":[["7ff06efa.bac96"]]},{"id":"e951f7c4.920068","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":830,"y":740,"wires":[]},{"id":"7ff06efa.bac96","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":msg.req.params.id},\t    {\"$set\": msg.payload},\t    {\"upsert\": false, \"returnOriginal\": false} \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["8445f626.4402a8"]]},{"id":"8445f626.4402a8","type":"subflow:46ba51c4.464e1","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":620,"y":740,"wires":[["e951f7c4.920068"]]},{"id":"d67aaa5b.c82448","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET /api/activity/:id/delete","url":"/api/activity/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["466c9e29.616a5"]]},{"id":"466c9e29.616a5","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\":msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":820,"wires":[["1e66ae59.de0aa2"]]},{"id":"747411c9.50673","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":830,"y":820,"wires":[]},{"id":"1e66ae59.de0aa2","type":"subflow:74646230.6d275c","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":620,"y":820,"wires":[["747411c9.50673"]]},{"id":"982e6de4.e1a08","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["8445f626.4402a8"],"uncaught":false,"x":590,"y":780,"wires":[["e951f7c4.920068"]]},{"id":"370d3d63.546e72","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["1e66ae59.de0aa2"],"uncaught":false,"x":590,"y":860,"wires":[["747411c9.50673"]]},{"id":"f1703cbc.b507","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":830,"y":540,"wires":[]},{"id":"c6f21401.57fb98","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET/api/activity/:id","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["2b5be1b7.55fc3e"]]},{"id":"7f9ef6d0.1c13b8","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":830,"y":600,"wires":[]},{"id":"46c36a98.fd6034","type":"subflow:9b383b8.bfdc4c8","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":620,"y":540,"wires":[["f1703cbc.b507"]]},{"id":"b6d85f1f.54e78","type":"subflow:2d6b3583.c330fa","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":620,"y":600,"wires":[["7f9ef6d0.1c13b8"]]},{"id":"2b5be1b7.55fc3e","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\": msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":600,"wires":[["b6d85f1f.54e78"]]},{"id":"1001671b.f52d89","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["46c36a98.fd6034"]]},{"id":"e5840dbd.d7a96","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET /api/activity","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["1001671b.f52d89"]]},{"id":"4ab9477f.2df4f8","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["b6d85f1f.54e78"],"uncaught":false,"x":590,"y":640,"wires":[["7f9ef6d0.1c13b8"]]},{"id":"429e123e.dcc31c","type":"debug","z":"2e789698.9e67ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":160,"wires":[]},{"id":"708d001b.2fdf4","type":"function","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"to Array of Objects","func":"const keyObjectsarray = Object.keys(msg.payload);\nlet dataResArray = [];\nkeyObjectsarray.map((index)=>{\n  dataResArray = [...dataResArray, msg.payload[index]];\n})\nmsg.payload = dataResArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":240,"wires":[["c71bf45b.999b38"]]},{"id":"7b8db1cd.b7c09","type":"debug","z":"6e336c2d.841474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"match","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1140,"wires":[]},{"id":"3bb6256a.a1dd2a","type":"jwt sign","z":"1094a968.b9e307","name":"","alg":"HS256","exp":"86400000","jwkurl":"","jwkkid":"","secret":"N0n3Pasword","key":"","signvar":"payload","storetoken":"payload","x":540,"y":480,"wires":[["a2a07259.e9db"]]},{"id":"4e9f0c18.185c84","type":"inject","z":"1094a968.b9e307","name":"sign jwt","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":480,"wires":[["cec0648d.752418"]]},{"id":"a2a07259.e9db","type":"debug","z":"1094a968.b9e307","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":480,"wires":[]},{"id":"cec0648d.752418","type":"change","z":"1094a968.b9e307","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"email\": \"geard@protofy.xyz\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["3bb6256a.a1dd2a"]]},{"id":"7f3052bd.cb363c","type":"inject","z":"1094a968.b9e307","name":"verify jwt","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IiJ9.eyJlbWFpbCI6ImdlYXJkQHByb3RvZnkueHl6IiwiaWF0IjoxNjI1ODY2ODgwLCJleHAiOjE2MjU5NTMyODB9.VW8lWIiY3nWI90oHlzFia9YL-IQHfe4ZTqLDJPjIL4k","payloadType":"str","x":160,"y":580,"wires":[["5fab4e89.581ee"]]},{"id":"82720b13.dd9688","type":"debug","z":"1094a968.b9e307","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":580,"wires":[]},{"id":"5fab4e89.581ee","type":"jwt verify","z":"1094a968.b9e307","name":"","alg":["HS256"],"jwkurl":"","secret":"N0n3Pasword","key":"","signvar":"payload","storetoken":"payload","x":330,"y":580,"wires":[["82720b13.dd9688"]]},{"id":"a0e41cca.67d84","type":"http in","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"POST /api/user","url":"/api/user","method":"post","upload":false,"swaggerDoc":"","x":240,"y":300,"wires":[["a328f420.6f2248"]]},{"id":"13c594df.708cbb","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"","headers":{},"x":770,"y":300,"wires":[]},{"id":"a328f420.6f2248","type":"subflow:fafc4dd9.b4277","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","env":[{"name":"collection","value":"users","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":410,"y":300,"wires":[["13c594df.708cbb"]]},{"id":"fe3d029d.a2377","type":"http in","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"POST /api/user/validate","url":"/api/user/validate","method":"post","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["1ffdc83e.977108"]]},{"id":"a47ba5f3.388048","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1530,"y":140,"wires":[]},{"id":"70a4a056.53afc","type":"subflow:2d6b3583.c330fa","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","env":[{"name":"collection","value":"users","type":"str"}],"x":780,"y":180,"wires":[["604d6a62.780c64"]]},{"id":"4e7ad935.fcf2e8","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"email\": msg.payload.email}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["70a4a056.53afc"]]},{"id":"4f5ca6e3.b62548","type":"catch","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","scope":["70a4a056.53afc"],"uncaught":false,"x":990,"y":240,"wires":[["b3f0a6da.2f6288"]]},{"id":"1ffdc83e.977108","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"save payload","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["4e7ad935.fcf2e8"]]},{"id":"604d6a62.780c64","type":"bcrypt","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"Verify password","action":"verify","field":"_payload.password","hash":"payload.password","rounds":10,"x":960,"y":180,"wires":[["5073cc60.362fb4"]]},{"id":"5073cc60.362fb4","type":"switch","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"match?","property":"match","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":180,"wires":[["f1e506c2.da4b98","f6873949.8c3ee8"],["b3f0a6da.2f6288","6df5db24.afcfa4"]]},{"id":"a6d94573.f9dab8","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"401","headers":{"content-type":"application/json"},"x":1380,"y":240,"wires":[]},{"id":"b3f0a6da.2f6288","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not authorized","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":240,"wires":[["a6d94573.f9dab8"]]},{"id":"f1e506c2.da4b98","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    msg.payload.email:msg._payload.email\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":140,"wires":[["7eae17be.86dd08","a47ba5f3.388048","1818a7ee.4c2408"]]},{"id":"6df5db24.afcfa4","type":"debug","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"match","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":300,"wires":[]},{"id":"f6873949.8c3ee8","type":"debug","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"match","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":340,"wires":[]},{"id":"7eae17be.86dd08","type":"debug","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":100,"wires":[]},{"id":"1818a7ee.4c2408","type":"debug","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":220,"wires":[]},{"id":"4ae1d43e.4bbffc","type":"mongodb3 in","z":"c494b22b.fc766","g":"c3317896.0695d8","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"","collection":"users","operation":"createIndex","x":690,"y":420,"wires":[[]]},{"id":"e9edaa0f.1760f8","type":"inject","z":"c494b22b.fc766","g":"c3317896.0695d8","name":"Generate Indexes","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":420,"wires":[["7355e595.4397ac"]]},{"id":"7355e595.4397ac","type":"change","z":"c494b22b.fc766","g":"c3317896.0695d8","name":"set index","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"email\":1},\t    {\"unique\":true}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[["4ae1d43e.4bbffc"]]},{"id":"f611844f.8f0678","type":"debug","z":"c494b22b.fc766","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":600,"wires":[]},{"id":"43660b38.d5f024","type":"catch","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","scope":["a328f420.6f2248"],"uncaught":false,"x":390,"y":340,"wires":[["61d1b589.86d57c"]]},{"id":"886c3e26.d178d","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"409","headers":{},"x":780,"y":340,"wires":[]},{"id":"61d1b589.86d57c","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error, el email ya registrado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":340,"wires":[["886c3e26.d178d"]]}]