nodered/flows.json
[{"id":"6e336c2d.841474","type":"tab","label":"API","disabled":false,"info":""},{"id":"c494b22b.fc766","type":"tab","label":"Auth","disabled":false,"info":""},{"id":"2e789698.9e67ca","type":"tab","label":"MONGO","disabled":false,"info":""},{"id":"1094a968.b9e307","type":"tab","label":"DEMOS","disabled":false,"info":""},{"id":"9b383b8.bfdc4c8","type":"subflow","name":"DB Read","info":"","category":"Storage","in":[{"x":140,"y":160,"wires":[{"id":"47e379db.dc2028"}]}],"out":[{"x":760,"y":160,"wires":[{"id":"1ecd9c25.b07eb4","port":0}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{"version":"1.0.0","author":"gerard.domenech.cobos@gmail.com"},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"2d6b3583.c330fa","type":"subflow","name":"DB Read One","info":"","category":"Storage","in":[{"x":60,"y":100,"wires":[{"id":"8d91ca76.b05bc8"}]}],"out":[{"x":1080,"y":100,"wires":[{"id":"abd717bf.82f978","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"fafc4dd9.b4277","type":"subflow","name":"DB Create","info":"","category":"Storage","in":[{"x":220,"y":140,"wires":[{"id":"b81478b2.fe9f98"}]}],"out":[{"x":980,"y":180,"wires":[{"id":"91859de8.a8401","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"60cd392.f539cc8","type":"subflow","name":"_id generator","info":"This flow it is used to generate an _id for mongo and saved as string instead of autogenerated ObjectId() by mongo.","category":"utilities","in":[{"x":240,"y":260,"wires":[{"id":"43eb1905.976528"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"6dbd0922.0700c8","port":0}]}],"env":[],"meta":{},"color":"#E6E0F8","icon":"node-red-contrib-uuid/uuid.png"},{"id":"46ba51c4.464e1","type":"subflow","name":"DB Update One","info":"","category":"Storage","in":[{"x":240,"y":200,"wires":[{"id":"6359669f.30c598"}]}],"out":[{"x":1240,"y":200,"wires":[{"id":"9f2c5828.04ae88","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"74646230.6d275c","type":"subflow","name":"DB Delete One","info":"","category":"Storage","in":[{"x":200,"y":180,"wires":[{"id":"1d34d80.dc29b28"}]}],"out":[{"x":1120,"y":180,"wires":[{"id":"d098d037.f3746","port":1}]}],"env":[{"name":"collection","type":"str","value":""}],"meta":{},"color":"#C7E9C0","icon":"node-red/leveldb.png"},{"id":"9ad836ff.2f7b08","type":"subflow","name":"Throw","info":"","category":"utilities","in":[{"x":280,"y":80,"wires":[{"id":"b4d49367.3d438"}]}],"out":[],"env":[],"meta":{},"color":"#FDD0A2","icon":"font-awesome/fa-bug"},{"id":"51961aa2.2d3624","type":"subflow","name":"Auth","info":"","category":"auth","in":[{"x":40,"y":140,"wires":[{"id":"73b86ddc.a6cea4"}]}],"out":[{"x":1120,"y":120,"wires":[{"id":"25069df4.f1adb2","port":0},{"id":"dc7c36c2.c78688","port":"1"}]}],"env":[{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-unlock-alt","type":"select","opts":{"opts":[{"l":{"en-US":"admin"},"v":"admin"},{"l":{"en-US":"user"},"v":"user,admin"},{"l":{"en-US":"no authentication"},"v":"noAuth"}]}}}],"meta":{},"color":"#E9967A","icon":"font-awesome/fa-lock"},{"id":"2e608509.497daa","type":"subflow","name":"DB Read Pagination","info":"","category":"Storage","in":[{"x":220,"y":200,"wires":[{"id":"4f50f588.c1c8dc"}]}],"out":[{"x":920,"y":200,"wires":[{"id":"e96e61ac.06d3","port":0}]}],"env":[{"name":"collection","type":"str","value":""},{"name":"limit","type":"num","value":"-1"},{"name":"orderBy","type":"str","value":""},{"name":"orderDirection","type":"str","value":"DESC","ui":{"icon":"font-awesome/fa-sort-amount-asc","label":{"en-US":"Order Direction"},"type":"select","opts":{"opts":[{"l":{"en-US":"Descending"},"v":"DESC"},{"l":{"en-US":"Ascending"},"v":"ASC"}]}}}],"meta":{},"color":"#C7E9C0","icon":"font-awesome/fa-database"},{"id":"9bcf9c42.6b7f4","type":"group","z":"2e789698.9e67ca","name":"Create One","style":{"label":true,"label-position":"n"},"nodes":["d09d0fd.c79d7f","1a8d9f25.c72f51","9418fd07.a5593","bac37c57.60c34","26df328a.67524e","ee436353.0d0a9","1cc2621.221dd9e","e274c6ce.ecba48","9f86ed2.8358d1"],"x":254,"y":499,"w":1412,"h":122},{"id":"d00bbcba.a7973","type":"group","z":"2e789698.9e67ca","name":"List","style":{"label":true,"label-position":"n"},"nodes":["88890f05.795eb","c71bf45b.999b38","65b4ba48.b07ba4","708d001b.2fdf4"],"x":254,"y":199,"w":1272,"h":82},{"id":"18a68b27.fc22a5","type":"group","z":"2e789698.9e67ca","name":"Read One","style":{"label":true,"label-position":"n"},"nodes":["2cd6cb62.68c0a4","6222d58d.9864ec","7e22a634.121a68"],"x":254,"y":399,"w":1272,"h":82},{"id":"4911462d.584ca8","type":"group","z":"2e789698.9e67ca","name":"Update One","style":{"label":true,"label-position":"n"},"nodes":["abb0a9b1.1a7658","b237d9b.bf92228","d7fe2e0b.8278d"],"x":254,"y":659,"w":1272,"h":82},{"id":"2825a481.5b338c","type":"group","z":"2e789698.9e67ca","name":"Delete One","style":{"label":true,"label-position":"n"},"nodes":["563a4094.9c72","9f5a8fff.7bcdd","3751a88d.881358"],"x":254,"y":779,"w":1272,"h":82},{"id":"aa9de1ad.37ff1","type":"group","z":"6e336c2d.841474","name":"CRUD API EXAMPLE","style":{"stroke":"#a4a4a4","stroke-opacity":"0.98","label":true},"nodes":["9825122a.e55ae","6d0ff93b.4c6898","2ba48022.5c138","98067a44.84a258","4d47a148.3405c","fd9e5a18.966368","ad8c48fe.94f028","ed668080.0dde8","15e6588.1ab6da8","fa66d2bc.87236","5994e1cf.d0f22","95937519.afc488","e2388709.c898b8","e25a66ac.5170b8","58d7b9bd.b068c8","4c577274.0d8b6c","f91eb7d3.e8d948","b9b02dfa.c65e7","3c234e6f.da2c42","e0296914.4c7548","87f552ce.2a057","88553926.8f18f8"],"x":54,"y":59,"w":852,"h":402},{"id":"dabcff4d.63979","type":"group","z":"6e336c2d.841474","name":"Activities API","style":{"stroke":"#a4a4a4","stroke-opacity":"0.6","label":true},"nodes":["55631391.60777c","47dc8790.be7cd8","e0d09fe4.fd34b","ebbcc499.7561d8","e951f7c4.920068","7ff06efa.bac96","8445f626.4402a8","d67aaa5b.c82448","466c9e29.616a5","747411c9.50673","1e66ae59.de0aa2","982e6de4.e1a08","370d3d63.546e72","f1703cbc.b507","c6f21401.57fb98","7f9ef6d0.1c13b8","46c36a98.fd6034","b6d85f1f.54e78","2b5be1b7.55fc3e","1001671b.f52d89","e5840dbd.d7a96","4ab9477f.2df4f8"],"x":54,"y":499,"w":1132,"h":402},{"id":"dc639f56.b6af1","type":"group","z":"c494b22b.fc766","name":"Auth API","style":{"stroke":"#a4a4a4","stroke-opacity":"0.6","label":true},"nodes":["c3317896.0695d8","ad3582c6.77042","a6a93b19.8899a8","8f62f954.9bc7a8","a242a5a4.3420a8","c6e68c.c3fc2978","7ef9608a.1f399","f354ca3.a982c38","ef7b5136.16ec4","e217a6ff.378798","28c5ff6e.abf1c","eb555d40.5292d"],"x":68,"y":193,"w":1904,"h":628},{"id":"18681956.b79b27","type":"group","z":"1094a968.b9e307","name":"JWT","style":{"label":true},"nodes":["3bb6256a.a1dd2a","4e9f0c18.185c84","a2a07259.e9db","cec0648d.752418","7f3052bd.cb363c","82720b13.dd9688","5fab4e89.581ee"],"x":74,"y":139,"w":822,"h":182},{"id":"dcc80197.76e8c","type":"group","z":"1094a968.b9e307","name":"Pagination","style":{"label":true},"nodes":["cc723eca.a7308","22523964.bda826","e897d7fd.15ea08","c6492fe8.09e92"],"x":84,"y":359,"w":842,"h":82},{"id":"2900cd05.ac1bc2","type":"group","z":"1094a968.b9e307","name":"Auth request example","style":{"label":true},"nodes":["ccd9036b.79e33","ca5480d4.5f4ae","de83b3b0.3de34","d582fd82.d6067","1e02c22a.e9108e"],"x":74,"y":479,"w":552,"h":122},{"id":"18960ef1.1ff4d1","type":"group","z":"1094a968.b9e307","name":"Pagination Example","style":{"label":true},"nodes":["eb29e47e.f6c3d8","90cb24ed.65ef38","d0da3eac.007ab","62b25853.067258"],"x":74,"y":619,"w":812,"h":82},{"id":"a2c04fce.88fab","type":"group","z":"2e789698.9e67ca","name":"read w/pagination","style":{"label":true,"label-position":"n"},"nodes":["4db4a0eb.011fb","1c4a4c5f.b14844","592dd19c.1f0aa"],"x":254,"y":299,"w":1272,"h":82},{"id":"c3317896.0695d8","type":"group","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"Create index","style":{"label":true},"nodes":["e9edaa0f.1760f8","7355e595.4397ac","4ae1d43e.4bbffc"],"x":94,"y":579,"w":722,"h":82},{"id":"ad3582c6.77042","type":"group","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"Register","style":{"label":true},"nodes":["a0e41cca.67d84","13c594df.708cbb","a328f420.6f2248","886c3e26.d178d","c02f6f6.9463f9","73611ebf.38338","5984c1f6.242c4","1bf8fdd3.079ca2"],"x":94,"y":419,"w":992,"h":122},{"id":"a6a93b19.8899a8","type":"group","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"LogIn","style":{"label":true},"nodes":["fe3d029d.a2377","a47ba5f3.388048","70a4a056.53afc","4e7ad935.fcf2e8","4f5ca6e3.b62548","1ffdc83e.977108","604d6a62.780c64","5073cc60.362fb4","a6d94573.f9dab8","b3f0a6da.2f6288","f1e506c2.da4b98","cce6aafa.728258","39ede497.a934bc","e7008449.c0fe48","10580f32.bbfc91"],"x":94,"y":219,"w":1852,"h":162},{"id":"dcd3313f.ac9ce","type":"mongodb3","uri":"mongodb://db","name":"","options":"{\"connectTimeoutMS\":300000}","parallelism":"-1"},{"id":"f97c6810.c7ad38","type":"mailchimp-config","name":"MailChimp"},{"id":"15438f97.d6dc8","type":"mongodb","hostname":"db","topology":"direct","connectOptions":"connectTimeoutMS=300000","port":"27017","db":"db","name":""},{"id":"b57e6285.abfde","type":"mongodb","z":"1094a968.b9e307","hostname":"db","topology":"direct","connectOptions":"","port":"27017","db":"db","name":"database"},{"id":"9825122a.e55ae","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"POST /api/activity","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["2ba48022.5c138"]]},{"id":"6d0ff93b.4c6898","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":240,"wires":[]},{"id":"47e379db.dc2028","type":"change","z":"9b383b8.bfdc4c8","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["1ecd9c25.b07eb4"]]},{"id":"8d91ca76.b05bc8","type":"change","z":"2d6b3583.c330fa","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["e0123c23.3bb0c"]]},{"id":"d09d0fd.c79d7f","type":"mongodb3 in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase InsertOne","collection":"","operation":"insertOne","x":1140,"y":540,"wires":[["9418fd07.a5593"]]},{"id":"1a8d9f25.c72f51","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Save payload","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["ee436353.0d0a9"]]},{"id":"9418fd07.a5593","type":"change","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Set _id from mongo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$merge(\t   [\t       _payload,\t       {\"_id\":payload.insertedId}\t   ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":540,"wires":[["26df328a.67524e"]]},{"id":"bac37c57.60c34","type":"actionflows_in","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","priority":"50","links":[],"scope":"global","x":360,"y":540,"wires":[["1a8d9f25.c72f51"]]},{"id":"26df328a.67524e","type":"actionflows_out","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","links":[],"x":1560,"y":540,"wires":[]},{"id":"2cd6cb62.68c0a4","type":"actionflows_in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","priority":"50","links":[],"scope":"global","x":370,"y":440,"wires":[["7e22a634.121a68"]]},{"id":"88890f05.795eb","type":"actionflows_in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","priority":"50","links":[],"scope":"global","x":360,"y":240,"wires":[["65b4ba48.b07ba4"]]},{"id":"6222d58d.9864ec","type":"actionflows_out","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","name":"Database.readOne","links":[],"x":1410,"y":440,"wires":[]},{"id":"c71bf45b.999b38","type":"actionflows_out","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"Database.read","links":[],"x":1420,"y":240,"wires":[]},{"id":"b81478b2.fe9f98","type":"change","z":"fafc4dd9.b4277","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["eb14f306.d10f6"]]},{"id":"65b4ba48.b07ba4","type":"mongodb3 in","z":"2e789698.9e67ca","g":"d00bbcba.a7973","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"find.toArray","x":850,"y":240,"wires":[["708d001b.2fdf4"]]},{"id":"7e22a634.121a68","type":"mongodb3 in","z":"2e789698.9e67ca","g":"18a68b27.fc22a5","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"findOne","x":970,"y":440,"wires":[["6222d58d.9864ec"]]},{"id":"2ba48022.5c138","type":"subflow:fafc4dd9.b4277","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":620,"y":240,"wires":[["6d0ff93b.4c6898"]]},{"id":"1ecd9c25.b07eb4","type":"actionflows","z":"9b383b8.bfdc4c8","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.read","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":560,"y":160,"wires":[[]]},{"id":"e0123c23.3bb0c","type":"actionflows","z":"2d6b3583.c330fa","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.readOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":510,"y":100,"wires":[["abd717bf.82f978"]]},{"id":"eb14f306.d10f6","type":"actionflows","z":"fafc4dd9.b4277","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.create","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":580,"y":140,"wires":[["91859de8.a8401"]]},{"id":"4f11e36d.6a306c","type":"comment","z":"2e789698.9e67ca","name":"README","info":"# **CONNECTION**\nTo connect to the db you should just add the name of the db. This is bc all containers are running at the same network thanks to docker-compose.\n\n# **MESSAGES**\n**msg.payload** contains the search query at READ and READ ONE\n**msg.operation** can have the operation to perform by mongodb3. In case action is set as dynamic (msg.operation).\n**msg.collection** contains the collection that belongs to the attached db in wich action is performed.","x":960,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"ee436353.0d0a9","type":"switch","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"has _id?","property":"payload._id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":540,"wires":[["d09d0fd.c79d7f"],["1cc2621.221dd9e"]]},{"id":"43eb1905.976528","type":"uuid","z":"60cd392.f539cc8","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":390,"y":260,"wires":[["beec3064.969b9"]]},{"id":"beec3064.969b9","type":"string","z":"60cd392.f539cc8","name":"addapt _id","methods":[{"name":"replaceAll","params":[{"type":"str","value":"-"},{"type":"str","value":""}]}],"prop":"uuid","propout":"uuid","object":"msg","objectout":"msg","x":530,"y":260,"wires":[["6dbd0922.0700c8"]],"info":"Replace all \"-\" to get number."},{"id":"6dbd0922.0700c8","type":"function","z":"60cd392.f539cc8","name":"create Object","func":"msg.payload = {\n    ... msg.payload,\n    _id : msg.uuid.toString(),\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[[]]},{"id":"1cc2621.221dd9e","type":"subflow:60cd392.f539cc8","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"","env":[],"x":890,"y":560,"wires":[["d09d0fd.c79d7f"]]},{"id":"98067a44.84a258","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"POST /api/activity/:id","url":"/api/activity/:id","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["fd9e5a18.966368"]]},{"id":"4d47a148.3405c","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":300,"wires":[]},{"id":"abb0a9b1.1a7658","type":"actionflows_in","z":"2e789698.9e67ca","g":"4911462d.584ca8","name":"Database.updateOne","priority":"50","links":[],"scope":"global","x":380,"y":700,"wires":[["d7fe2e0b.8278d"]]},{"id":"b237d9b.bf92228","type":"actionflows_out","z":"2e789698.9e67ca","g":"4911462d.584ca8","name":"Database.updateOne","links":[],"x":1400,"y":700,"wires":[]},{"id":"fd9e5a18.966368","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":msg.req.params.id},\t    {\"$set\": msg.payload},\t    {\"upsert\": false, \"returnOriginal\": false} \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["ad8c48fe.94f028"]]},{"id":"d7fe2e0b.8278d","type":"mongodb3 in","z":"2e789698.9e67ca","g":"4911462d.584ca8","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"updateOne","x":970,"y":700,"wires":[["b237d9b.bf92228"]]},{"id":"6359669f.30c598","type":"change","z":"46ba51c4.464e1","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["2671b755.c425e8"]]},{"id":"2671b755.c425e8","type":"actionflows","z":"46ba51c4.464e1","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.updateOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":680,"y":200,"wires":[["9f2c5828.04ae88"]]},{"id":"ad8c48fe.94f028","type":"subflow:46ba51c4.464e1","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":300,"wires":[["4d47a148.3405c"]]},{"id":"ed668080.0dde8","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET /api/activity/:id/delete","url":"/api/activity/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":190,"y":380,"wires":[["15e6588.1ab6da8"]]},{"id":"15e6588.1ab6da8","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\":msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["5994e1cf.d0f22"]]},{"id":"fa66d2bc.87236","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"9f5a8fff.7bcdd","type":"mongodb3 in","z":"2e789698.9e67ca","g":"2825a481.5b338c","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"DataBase Actions","collection":"","operation":"deleteOne","x":970,"y":820,"wires":[["3751a88d.881358"]]},{"id":"563a4094.9c72","type":"actionflows_in","z":"2e789698.9e67ca","g":"2825a481.5b338c","name":"Database.deleteOne","priority":"50","links":[],"scope":"global","x":370,"y":820,"wires":[["9f5a8fff.7bcdd"]]},{"id":"3751a88d.881358","type":"actionflows_out","z":"2e789698.9e67ca","g":"2825a481.5b338c","name":"Database.deleteOne","links":[],"x":1400,"y":820,"wires":[]},{"id":"3e2ee040.93f99","type":"actionflows","z":"74646230.6d275c","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.deleteOne","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":540,"y":180,"wires":[["d098d037.f3746"]]},{"id":"1d34d80.dc29b28","type":"change","z":"74646230.6d275c","name":"set collection","rules":[{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["3e2ee040.93f99"]]},{"id":"5994e1cf.d0f22","type":"subflow:74646230.6d275c","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":380,"wires":[["fa66d2bc.87236"]]},{"id":"d098d037.f3746","type":"switch","z":"74646230.6d275c","name":"","property":"payload.deletedCount","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":180,"wires":[["e846fdb8.235b3"],[]]},{"id":"e846fdb8.235b3","type":"change","z":"74646230.6d275c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Deleted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[["cd4a4254.dc5cc"]]},{"id":"b4d49367.3d438","type":"function","z":"9ad836ff.2f7b08","name":"","func":"throw msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]],"icon":"font-awesome/fa-bug"},{"id":"cd4a4254.dc5cc","type":"subflow:9ad836ff.2f7b08","z":"74646230.6d275c","name":"","env":[],"x":1070,"y":120,"wires":[]},{"id":"9f2c5828.04ae88","type":"switch","z":"46ba51c4.464e1","name":"","property":"payload.modifiedCount","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":200,"wires":[["8ae789c2.b21538"],[]]},{"id":"8ae789c2.b21538","type":"change","z":"46ba51c4.464e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Modified","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["752f084a.f83308"]]},{"id":"752f084a.f83308","type":"subflow:9ad836ff.2f7b08","z":"46ba51c4.464e1","name":"","env":[],"x":1230,"y":140,"wires":[]},{"id":"95937519.afc488","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["ad8c48fe.94f028"],"uncaught":false,"x":590,"y":340,"wires":[["4d47a148.3405c"]]},{"id":"e2388709.c898b8","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["5994e1cf.d0f22"],"uncaught":false,"x":590,"y":420,"wires":[["fa66d2bc.87236"]]},{"id":"449cf475.3e511c","type":"subflow:9ad836ff.2f7b08","z":"2d6b3583.c330fa","name":"","env":[],"x":1050,"y":40,"wires":[]},{"id":"fe79ec7c.cd20a","type":"change","z":"2d6b3583.c330fa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":40,"wires":[["449cf475.3e511c"]]},{"id":"abd717bf.82f978","type":"switch","z":"2d6b3583.c330fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":100,"wires":[["fe79ec7c.cd20a"],[]]},{"id":"e25a66ac.5170b8","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":100,"wires":[]},{"id":"58d7b9bd.b068c8","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET/api/activity/:id","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["3c234e6f.da2c42"]]},{"id":"4c577274.0d8b6c","type":"http response","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","statusCode":"","headers":{},"x":830,"y":160,"wires":[]},{"id":"f91eb7d3.e8d948","type":"subflow:9b383b8.bfdc4c8","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":100,"wires":[["e25a66ac.5170b8"]]},{"id":"b9b02dfa.c65e7","type":"subflow:2d6b3583.c330fa","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","env":[{"name":"collection","value":"test","type":"str"}],"x":620,"y":160,"wires":[["4c577274.0d8b6c"]]},{"id":"3c234e6f.da2c42","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\": msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["b9b02dfa.c65e7"]]},{"id":"e0296914.4c7548","type":"change","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["f91eb7d3.e8d948"]]},{"id":"87f552ce.2a057","type":"http in","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"GET /api/activity","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["e0296914.4c7548"]]},{"id":"88553926.8f18f8","type":"catch","z":"6e336c2d.841474","d":true,"g":"aa9de1ad.37ff1","name":"","scope":["b9b02dfa.c65e7"],"uncaught":false,"x":590,"y":200,"wires":[["4c577274.0d8b6c"]]},{"id":"55631391.60777c","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"POST /api/activity","url":"/api/activity","method":"post","upload":false,"swaggerDoc":"","x":170,"y":680,"wires":[["e0d09fe4.fd34b"]]},{"id":"47dc8790.be7cd8","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":1110,"y":680,"wires":[]},{"id":"e0d09fe4.fd34b","type":"subflow:fafc4dd9.b4277","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":900,"y":680,"wires":[["47dc8790.be7cd8"]]},{"id":"ebbcc499.7561d8","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"POST /api/activity/:id","url":"/api/activity/:id","method":"post","upload":false,"swaggerDoc":"","x":170,"y":740,"wires":[["7ff06efa.bac96"]]},{"id":"e951f7c4.920068","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":1110,"y":740,"wires":[]},{"id":"7ff06efa.bac96","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"_id\":msg.req.params.id},\t    {\"$set\": msg.payload},\t    {\"upsert\": false, \"returnOriginal\": false} \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["8445f626.4402a8"]]},{"id":"8445f626.4402a8","type":"subflow:46ba51c4.464e1","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":900,"y":740,"wires":[["e951f7c4.920068"]]},{"id":"d67aaa5b.c82448","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET /api/activity/:id/delete","url":"/api/activity/:id/delete","method":"get","upload":false,"swaggerDoc":"","x":190,"y":820,"wires":[["466c9e29.616a5"]]},{"id":"466c9e29.616a5","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\":msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":820,"wires":[["1e66ae59.de0aa2"]]},{"id":"747411c9.50673","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":1110,"y":820,"wires":[]},{"id":"1e66ae59.de0aa2","type":"subflow:74646230.6d275c","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":900,"y":820,"wires":[["747411c9.50673"]]},{"id":"982e6de4.e1a08","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["8445f626.4402a8"],"uncaught":false,"x":870,"y":780,"wires":[["e951f7c4.920068"]]},{"id":"370d3d63.546e72","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["1e66ae59.de0aa2"],"uncaught":false,"x":870,"y":860,"wires":[["747411c9.50673"]]},{"id":"f1703cbc.b507","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":1110,"y":540,"wires":[]},{"id":"c6f21401.57fb98","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET/api/activity/:id","url":"/api/activity/:id","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["2b5be1b7.55fc3e"]]},{"id":"7f9ef6d0.1c13b8","type":"http response","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","statusCode":"","headers":{},"x":1110,"y":600,"wires":[]},{"id":"46c36a98.fd6034","type":"subflow:9b383b8.bfdc4c8","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":900,"y":540,"wires":[["f1703cbc.b507"]]},{"id":"b6d85f1f.54e78","type":"subflow:2d6b3583.c330fa","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","env":[{"name":"collection","value":"activities","type":"str"}],"x":900,"y":600,"wires":[["7f9ef6d0.1c13b8"]]},{"id":"2b5be1b7.55fc3e","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"_id\": msg.req.params.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":600,"wires":[["b6d85f1f.54e78"]]},{"id":"1001671b.f52d89","type":"change","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[["46c36a98.fd6034"]]},{"id":"e5840dbd.d7a96","type":"http in","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"GET /api/activity","url":"/api/activity","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["1001671b.f52d89"]]},{"id":"4ab9477f.2df4f8","type":"catch","z":"6e336c2d.841474","g":"dabcff4d.63979","name":"","scope":["b6d85f1f.54e78"],"uncaught":false,"x":870,"y":640,"wires":[["7f9ef6d0.1c13b8"]]},{"id":"708d001b.2fdf4","type":"function","z":"2e789698.9e67ca","g":"d00bbcba.a7973","name":"to Array of Objects","func":"const keyObjectsarray = Object.keys(msg.payload);\nlet dataResArray = [];\nkeyObjectsarray.map((index)=>{\n  dataResArray = [...dataResArray, msg.payload[index]];\n})\nmsg.payload = dataResArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":240,"wires":[["c71bf45b.999b38"]]},{"id":"3bb6256a.a1dd2a","type":"jwt sign","z":"1094a968.b9e307","g":"18681956.b79b27","name":"","alg":"HS256","exp":"157800000000","jwkurl":"","jwkkid":"","secret":"N0n3Pasword","key":"","signvar":"payload","storetoken":"payload","x":560,"y":180,"wires":[["a2a07259.e9db"]]},{"id":"4e9f0c18.185c84","type":"inject","z":"1094a968.b9e307","g":"18681956.b79b27","name":"sign jwt","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["cec0648d.752418"]]},{"id":"a2a07259.e9db","type":"debug","z":"1094a968.b9e307","g":"18681956.b79b27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"cec0648d.752418","type":"change","z":"1094a968.b9e307","g":"18681956.b79b27","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"email\":\"geard@protofy.xyz\",\"type\":\"user\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["3bb6256a.a1dd2a"]]},{"id":"7f3052bd.cb363c","type":"inject","z":"1094a968.b9e307","g":"18681956.b79b27","name":"verify jwt","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IiJ9.eyJlbWFpbCI6ImdlYXJkQHByb3RvZnkueHl6IiwidHlwZSI6InVzZXIiLCJpYXQiOjE2MjY3MzQyMTcsImV4cCI6MTc4NDUzNDIxN30.TGSdGFR37Zuj68sQesK11_ipOEtWGcJpPq4wb-aXNcs","payloadType":"str","x":180,"y":280,"wires":[["5fab4e89.581ee"]]},{"id":"82720b13.dd9688","type":"debug","z":"1094a968.b9e307","g":"18681956.b79b27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"5fab4e89.581ee","type":"jwt verify","z":"1094a968.b9e307","g":"18681956.b79b27","name":"","alg":["HS256"],"jwkurl":"","secret":"N0n3Pasword","key":"","signvar":"payload","storetoken":"payload","x":350,"y":280,"wires":[["82720b13.dd9688"]]},{"id":"e274c6ce.ecba48","type":"catch","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"","scope":["d09d0fd.c79d7f"],"uncaught":false,"x":1130,"y":580,"wires":[["9f86ed2.8358d1"]]},{"id":"9f86ed2.8358d1","type":"actionflows_out","z":"2e789698.9e67ca","g":"9bcf9c42.6b7f4","name":"Database.create","links":[],"x":1340,"y":580,"wires":[]},{"id":"91859de8.a8401","type":"switch","z":"fafc4dd9.b4277","name":"","property":"error.message","propertyType":"msg","rules":[{"t":"cont","v":"MongoError","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":140,"wires":[["c00cf6dc.1e17e8"],[]]},{"id":"b9e5d23f.c26a7","type":"subflow:9ad836ff.2f7b08","z":"fafc4dd9.b4277","name":"","env":[],"x":1070,"y":100,"wires":[]},{"id":"c00cf6dc.1e17e8","type":"change","z":"fafc4dd9.b4277","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":100,"wires":[["b9e5d23f.c26a7"]]},{"id":"e9edaa0f.1760f8","type":"inject","z":"c494b22b.fc766","g":"c3317896.0695d8","name":"Generate Indexes","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":620,"wires":[["7355e595.4397ac"]]},{"id":"7355e595.4397ac","type":"change","z":"c494b22b.fc766","g":"c3317896.0695d8","name":"set index","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\"email\":1},\t    {\"unique\":true}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["4ae1d43e.4bbffc"]]},{"id":"4ae1d43e.4bbffc","type":"mongodb3 in","z":"c494b22b.fc766","g":"c3317896.0695d8","service":"_ext_","configNode":"dcd3313f.ac9ce","name":"","collection":"users","operation":"createIndex","x":660,"y":620,"wires":[[]]},{"id":"a0e41cca.67d84","type":"http in","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"POST /api/user/register","url":"/api/user/register","method":"post","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["73611ebf.38338"]]},{"id":"13c594df.708cbb","type":"http response","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"","statusCode":"","headers":{},"x":1010,"y":460,"wires":[]},{"id":"a328f420.6f2248","type":"subflow:fafc4dd9.b4277","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"","env":[{"name":"collection","value":"users","type":"str"},{"name":"operation","value":"test","type":"str"}],"x":870,"y":460,"wires":[["13c594df.708cbb"]]},{"id":"886c3e26.d178d","type":"http response","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"","statusCode":"409","headers":{},"x":1000,"y":500,"wires":[]},{"id":"c02f6f6.9463f9","type":"catch","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"","scope":["a328f420.6f2248"],"uncaught":false,"x":850,"y":500,"wires":[["886c3e26.d178d"]]},{"id":"73611ebf.38338","type":"function","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"email to LowerCase","func":"msg.payload.email = msg.payload.email.toLowerCase()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":500,"wires":[["5984c1f6.242c4"]]},{"id":"fe3d029d.a2377","type":"http in","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"POST /api/user/login","url":"/api/user/login","method":"post","upload":false,"swaggerDoc":"","x":230,"y":300,"wires":[["cce6aafa.728258"]]},{"id":"a47ba5f3.388048","type":"http response","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1870,"y":260,"wires":[]},{"id":"70a4a056.53afc","type":"subflow:2d6b3583.c330fa","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","env":[{"name":"collection","value":"users","type":"str"}],"x":680,"y":300,"wires":[["10580f32.bbfc91"]]},{"id":"4e7ad935.fcf2e8","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"email\": msg.payload.email}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["70a4a056.53afc"]]},{"id":"4f5ca6e3.b62548","type":"catch","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","scope":["70a4a056.53afc"],"uncaught":false,"x":710,"y":340,"wires":[["b3f0a6da.2f6288"]]},{"id":"1ffdc83e.977108","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"save payload","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["4e7ad935.fcf2e8"]]},{"id":"604d6a62.780c64","type":"bcrypt","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"Verify password","action":"verify","field":"_payload.password","hash":"payload.password","rounds":10,"x":1080,"y":300,"wires":[["5073cc60.362fb4"]]},{"id":"5073cc60.362fb4","type":"switch","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"match?","property":"match","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1240,"y":300,"wires":[["39ede497.a934bc"],["b3f0a6da.2f6288"]]},{"id":"a6d94573.f9dab8","type":"http response","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","statusCode":"401","headers":{"content-type":"application/json"},"x":1580,"y":340,"wires":[]},{"id":"b3f0a6da.2f6288","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not authorized","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":340,"wires":[["a6d94573.f9dab8"]]},{"id":"f1e506c2.da4b98","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"email\":msg.payloadTmp.email, \t    \"token\": msg.payload,\t    \"type\": msg.payloadTmp.type,\t    \"status\": msg.payloadTmp.status\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":260,"wires":[["a47ba5f3.388048"]]},{"id":"cce6aafa.728258","type":"function","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"email to LowerCase","func":"msg.payload.email = msg.payload.email.toLowerCase()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":340,"wires":[["1ffdc83e.977108"]]},{"id":"8f62f954.9bc7a8","type":"http in","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"POST /api/user/forgotPassword","url":"/api/user/forgotPassword","method":"post","upload":false,"swaggerDoc":"","x":250,"y":720,"wires":[["c6e68c.c3fc2978"]]},{"id":"a242a5a4.3420a8","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"","headers":{},"x":1250,"y":740,"wires":[]},{"id":"f354ca3.a982c38","type":"subflow:2d6b3583.c330fa","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","env":[{"name":"collection","value":"users","type":"str"}],"x":680,"y":740,"wires":[["28c5ff6e.abf1c"]]},{"id":"c6e68c.c3fc2978","type":"function","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"email to LowerCase","func":"msg.payload.email = msg.payload.email.toLowerCase()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":760,"wires":[["7ef9608a.1f399"]]},{"id":"7ef9608a.1f399","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"db query","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"email\": msg.payload.email}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[["f354ca3.a982c38"]]},{"id":"ef7b5136.16ec4","type":"catch","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","scope":["f354ca3.a982c38"],"uncaught":false,"x":710,"y":780,"wires":[["e217a6ff.378798"]]},{"id":"e217a6ff.378798","type":"http response","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","statusCode":"404","headers":{},"x":1080,"y":780,"wires":[]},{"id":"28c5ff6e.abf1c","type":"change","z":"c494b22b.fc766","g":"dc639f56.b6af1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":740,"wires":[["a242a5a4.3420a8"]]},{"id":"eb555d40.5292d","type":"mailchimp-list","z":"c494b22b.fc766","d":true,"g":"dc639f56.b6af1","mailchimp":"f97c6810.c7ad38","name":"","x":1080,"y":740,"wires":[[]]},{"id":"39ede497.a934bc","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"email\":msg.payloadTmp.email,\t    \"type\":msg.payloadTmp.type\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":260,"wires":[["e7008449.c0fe48"]]},{"id":"e7008449.c0fe48","type":"jwt sign","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","alg":"HS256","exp":"157800000000","jwkurl":"","jwkkid":"","secret":"N0n3Pasword","key":"","signvar":"payload","storetoken":"payload","x":1560,"y":260,"wires":[["f1e506c2.da4b98"]]},{"id":"5984c1f6.242c4","type":"change","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"user","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"confirmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["1bf8fdd3.079ca2"]]},{"id":"10580f32.bbfc91","type":"change","z":"c494b22b.fc766","g":"a6a93b19.8899a8","name":"","rules":[{"t":"set","p":"payloadTmp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["604d6a62.780c64"]]},{"id":"1bf8fdd3.079ca2","type":"bcrypt","z":"c494b22b.fc766","g":"ad3582c6.77042","name":"Encrypt password","action":"encrypt","field":"payload.password","hash":"","rounds":10,"x":670,"y":460,"wires":[["a328f420.6f2248"]]},{"id":"a0a33686.7885a8","type":"jwt verify","z":"51961aa2.2d3624","name":"","alg":["HS256"],"jwkurl":"","secret":"N0n3Pasword","key":"","signvar":"bearer","storetoken":"payload","x":530,"y":60,"wires":[["34190f0c.c5b7"]]},{"id":"34190f0c.c5b7","type":"change","z":"51961aa2.2d3624","name":"Set msg.auth","rules":[{"t":"set","p":"auth.token","pt":"msg","to":"bearer","tot":"msg"},{"t":"set","p":"auth.email","pt":"msg","to":"payload.email","tot":"msg"},{"t":"set","p":"auth.type","pt":"msg","to":"payload.type","tot":"msg"},{"t":"set","p":"error","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[["ad6ebe97.88b07"]]},{"id":"2678c607.282cea","type":"catch","z":"51961aa2.2d3624","name":"","scope":["a0a33686.7885a8"],"uncaught":false,"x":550,"y":100,"wires":[["9b56af12.d3879"]]},{"id":"9b56af12.d3879","type":"change","z":"51961aa2.2d3624","name":"UnAuthorized","rules":[{"t":"set","p":"error","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":100,"wires":[["dc7c36c2.c78688"]]},{"id":"dc7c36c2.c78688","type":"switch","z":"51961aa2.2d3624","name":"error?","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":1010,"y":80,"wires":[["a8abbdd7.28268"],[]]},{"id":"f730b133.f21fa","type":"subflow:9ad836ff.2f7b08","z":"51961aa2.2d3624","name":"","env":[],"x":1330,"y":60,"wires":[]},{"id":"a8abbdd7.28268","type":"change","z":"51961aa2.2d3624","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unauthorized","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":60,"wires":[["f730b133.f21fa"]]},{"id":"4f50f588.c1c8dc","type":"change","z":"2e608509.497daa","name":"","rules":[{"t":"set","p":"limit","pt":"msg","to":"limit","tot":"env"},{"t":"set","p":"collection","pt":"msg","to":"collection","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["5b8f1764.72cd28"]]},{"id":"5b8f1764.72cd28","type":"function","z":"2e608509.497daa","name":"SORT","func":"msg.sort = {}\nmsg.sort[env.get(\"orderBy\")] = env.get('orderDirection') == 'DESC' ? -1:1;\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":200,"wires":[["e96e61ac.06d3"]]},{"id":"cc723eca.a7308","type":"subflow:2e608509.497daa","z":"1094a968.b9e307","g":"dcc80197.76e8c","name":"","env":[],"x":580,"y":400,"wires":[["c6492fe8.09e92"]]},{"id":"22523964.bda826","type":"inject","z":"1094a968.b9e307","g":"dcc80197.76e8c","name":"pagination","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":400,"wires":[["e897d7fd.15ea08"]]},{"id":"e897d7fd.15ea08","type":"change","z":"1094a968.b9e307","g":"dcc80197.76e8c","name":"items to skip","rules":[{"t":"set","p":"skip","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["cc723eca.a7308"]]},{"id":"c6492fe8.09e92","type":"debug","z":"1094a968.b9e307","g":"dcc80197.76e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"ad6ebe97.88b07","type":"function","z":"51961aa2.2d3624","name":"Authorized?","func":"// Checks if string of auth includes user type\nif(msg.type.split(',').includes(msg.auth.type)){\n    return msg\n}\nelse{\n    msg.error = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":60,"wires":[["dc7c36c2.c78688"]]},{"id":"77dff565.bd469c","type":"switch","z":"51961aa2.2d3624","name":"need Auth?","property":"type","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"noAuth","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["a0a33686.7885a8"],["505b066e.7e0708"]]},{"id":"505b066e.7e0708","type":"no-op","z":"51961aa2.2d3624","name":"noAuth","x":680,"y":160,"wires":[["25069df4.f1adb2"]]},{"id":"25069df4.f1adb2","type":"no-op","z":"51961aa2.2d3624","name":"noAuth","x":1000,"y":160,"wires":[[]]},{"id":"8c74e4ca.3951a8","type":"change","z":"51961aa2.2d3624","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":880,"wires":[["ab7592c1.5f70f"]]},{"id":"ab7592c1.5f70f","type":"function","z":"51961aa2.2d3624","name":"Check user type","func":"// Convert types (string) into array, splitting elements by comma\nconst types = env.get(\"type\").split(',');\nmsg.payload = types;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":880,"wires":[[]]},{"id":"73b86ddc.a6cea4","type":"change","z":"51961aa2.2d3624","name":"extract auth type","rules":[{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["77dff565.bd469c"]]},{"id":"ccd9036b.79e33","type":"http in","z":"1094a968.b9e307","d":true,"g":"2900cd05.ac1bc2","name":"GET /api/test","url":"/api/test","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["ca5480d4.5f4ae"]]},{"id":"ca5480d4.5f4ae","type":"subflow:51961aa2.2d3624","z":"1094a968.b9e307","g":"2900cd05.ac1bc2","name":"","env":[{"name":"type","value":"noAuth","type":"str"}],"x":370,"y":520,"wires":[["de83b3b0.3de34"]]},{"id":"de83b3b0.3de34","type":"http response","z":"1094a968.b9e307","g":"2900cd05.ac1bc2","name":"","statusCode":"","headers":{},"x":550,"y":520,"wires":[]},{"id":"d582fd82.d6067","type":"catch","z":"1094a968.b9e307","g":"2900cd05.ac1bc2","name":"","scope":["ca5480d4.5f4ae"],"uncaught":false,"x":370,"y":560,"wires":[["1e02c22a.e9108e"]]},{"id":"1e02c22a.e9108e","type":"http response","z":"1094a968.b9e307","g":"2900cd05.ac1bc2","name":"","statusCode":"401","headers":{},"x":500,"y":560,"wires":[]},{"id":"eb29e47e.f6c3d8","type":"http in","z":"1094a968.b9e307","g":"18960ef1.1ff4d1","name":"GET /api/pagination/:itemsToSkip","url":"/api/pagination/:itemsToSkip","method":"get","upload":false,"swaggerDoc":"","x":230,"y":660,"wires":[["62b25853.067258"]]},{"id":"90cb24ed.65ef38","type":"http response","z":"1094a968.b9e307","g":"18960ef1.1ff4d1","name":"","statusCode":"","headers":{},"x":810,"y":660,"wires":[]},{"id":"d0da3eac.007ab","type":"subflow:2e608509.497daa","z":"1094a968.b9e307","g":"18960ef1.1ff4d1","name":"","env":[{"name":"collection","value":"activities","type":"str"},{"name":"limit","value":"1","type":"num"},{"name":"orderBy","value":"timestamp","type":"str"}],"x":640,"y":660,"wires":[["90cb24ed.65ef38"]]},{"id":"62b25853.067258","type":"change","z":"1094a968.b9e307","g":"18960ef1.1ff4d1","name":"Items to skip","rules":[{"t":"set","p":"skip","pt":"msg","to":"req.params.itemsToSkip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":660,"wires":[["d0da3eac.007ab"]]},{"id":"4db4a0eb.011fb","type":"actionflows_out","z":"2e789698.9e67ca","g":"a2c04fce.88fab","name":"Database.readPagination","links":[],"x":1390,"y":340,"wires":[]},{"id":"592dd19c.1f0aa","type":"actionflows_in","z":"2e789698.9e67ca","g":"a2c04fce.88fab","name":"Database.readPagination","priority":"50","links":[],"scope":"global","x":390,"y":340,"wires":[["1c4a4c5f.b14844"]]},{"id":"1c4a4c5f.b14844","type":"mongodb in","z":"2e789698.9e67ca","g":"a2c04fce.88fab","mongodb":"15438f97.d6dc8","name":"","collection":"","operation":"find","x":900,"y":340,"wires":[["4db4a0eb.011fb"]]},{"id":"e96e61ac.06d3","type":"actionflows","z":"2e608509.497daa","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"Database.readPagination","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":750,"y":200,"wires":[[]]},{"id":"ce06dd2bd254de68","type":"subflow:51961aa2.2d3624","z":"6e336c2d.841474","name":"","env":[{"name":"type","value":"user,admin","type":"str"}],"x":310,"y":980,"wires":[[]]},{"id":"3eff2c23744b231d","type":"comment","z":"6e336c2d.841474","name":"","info":"No va bien esta caja !","x":190,"y":980,"wires":[]}]